header {
    padding: 10px;
}

header p {
    padding: 20px;
    margin: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    color: #dddddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    flex-direction: column;
    background-image: url("/public/css/css-images/bosque.jpg");
    display: flex;
    color: #dddddd;
}

nav h1 {
    margin-left: 10px;
}

nav .index {
    border-radius: 10px;
    padding: 10px;
    margin: 40px;
}

body {
    margin: 0px;
    background-color: darkseagreen;
}


.galeria .container{
    background-color: cornflowerblue;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;

    display: grid;
    grid-template-areas:
            "titol informacio"
            "foto informacio";
}

.galeria .foto {
    width: 350px;
    margin: 40px;
    height: auto;
}

.galeria h2 {
    text-align: justify-all;
    margin: 45px;
}

.galeria a .informacio {
    grid-area: informacio;
    grid-column: 2;
}

.galeria a h3 {
    grid-area: titol;
    grid-column: 1;


    padding: 0px;
}

.galeria a img {
    grid-area: foto;
    grid-column: 1;

    padding: 0px;
}

.bibliografia {
    background-color: darkseagreen;
    padding: 20px 80px;
    border: 5px;
}

footer {
    padding: 20px;
    background-color: lightblue;
}

footer #contenidor {
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas:
            "llicencia";
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
}

#llicencia {
    grid-area: llicencia;
}

@media (max-width: 600px) {
    header {
        width: 90%;
        text-align: center;
        padding: 10px;
    }

    header nav {
        flex-direction: column;
    }

    #bibliografia {
        text-align: justify;
        border: 10px;
    }

    footer #contenidor {
        grid-template-areas:
                "llicencia";

        text-align: center;
    }

    .galeria {
        display: grid;
        grid-template-areas:
                "titol"
                "foto"
                "informacio";
        margin: 10px;
    }

    .galeria a .informacio {
        grid-area: informacio;
        padding: 10px;

    }

    .titol {
        grid-area: titol;
    }

    .foto {
        grid-area: foto;
    }
}